<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Book</title>
</head>
<body>
    <h1>Guest Book Home Page</h1>

    <form action="/sign" method="POST">

        <label>Name</label>
        <input name="name">

        <br>

        <label>Message</label>
        <textarea name="message"></textarea>

        <br>

        <button type="submit">Sign the Guestbook</button>

    </form>

</body>
</html>